# exclude all by default
*
!.gitignore
!readme.md
!*/

!IP/Messages/*.lang
!UltimateClaims/Messages/*.lang
!RetrosLodestones/Messages/*.lang
!GoodTrade/Messages/*.lang
!GoodModeration/Messages/*.lang
!Chatty/Messages/*.lang
!GoodJoin/Messages/*.lang